@tailwind base;
@tailwind components;
@tailwind utilities;



/* Fundo com degradê azul */
body {
  margin: 0;
  font-family: sans-serif;
  background: radial-gradient(circle at bottom left, #9d00ff, #000000);
  min-height: 100vh;
}

/* Container central */
div[class*="max-w-md"] {
  background: #f5f3ef;
}

/* Estilo da lista de tarefas */
.lista-tarefas-item {
  background-color: #201182; /* azul escuro */
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

input::placeholder {
  color: rgba(18, 1, 1, 0.7);
}
